* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}


 /*---------------------------------

                NAV

 -------------------------------- */
#wrapper{

    background: rgb(95,120,233);
    background: -moz-linear-gradient(5deg, rgba(95,120,233,1) 9%, rgba(150,167,246,1) 47%, rgba(148,187,233,1) 79%);
    background: -webkit-linear-gradient(5deg, rgba(95,120,233,1) 9%, rgba(150,167,246,1) 47%, rgba(148,187,233,1) 79%);
    background: linear-gradient(5deg, rgba(95,120,233,1) 9%, rgba(150,167,246,1) 47%, rgba(148,187,233,1) 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5f78e9",endColorstr="#94bbe9",GradientType=1);
    position: relative;
    height: 100%;
}


.half-1 {
    position: absolute;
    top: 30%;
    left: 20%;

}
.half-2 {
    position: absolute;
    top: 38%;
    width: 30%;
    right: 10%;
}



.content h1 {
    color: #fff;
    font-family: SF-Pro-Display-light;
    font-weight: 200;
    font-size: 6em;
}
.content h2{
    padding-bottom: 20px;
    font-size: 2em;
    color: white;
    font-family: SF-Pro-Display-light;
}

.content p{
    color: white;
    font-family: SF-Pro-Display-light;
}
hr {
    transform: rotate(90deg);
    width: 30%;
    position: absolute;
    top: 50%;
    left: 35%;
}


nav {
    width: 95%;
    background: transparent;
    height: 70px;
    position: static;
    z-index: 1;
}

nav #brand {
    color: black;
    float: left;
    display: block;
    margin-left: 84px;
    font-size: 30px;
    line-height: 70px;
    font-weight: bold;
}

nav #brand a {
    color: white;
    transition: all 0.3s ease-out;
    font-family: SF-Pro-Display-light;
    font-weight: 300;
    font-size: 15px;
}

nav #menu {
    font-family: SF-Pro-Display-light;
    float: left;
    left: 50%;
    position: relative;
}

nav #menu li a:hover{
     color: #f7515e;
 }

nav #menu li {
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
    line-height: 70px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li a {
    color: #fff;
    font-weight: 200;
    font-size: 15px;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 14px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

#toggle .span {
    height: 3px;
    background: white;
    transition: all 0.3s ease-out;
    backface-visibility: hidden;
    margin: 5px auto;
}

#toggle.on #one {
    transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
    opacity: 0;
}

#toggle.on #three {
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
    font-family: SF-Pro-Display-light;
    z-index: 1;
    top: 0px;
    position: absolute;
    background: #4A4A5D;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
    display: table;
}

#resize #menu {
    height: 90px;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
    margin-top:140px;
}

#resize #menu li a {
    color: #fff;
}

#resize.active {
    visibility: visible;
    opacity: 0.99;
}


/*-------------------------

        GRID

----------------------- */

#grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40vw 40vw 40vw;
}


#grid h2 {
    font-family: SF-Pro-Display-Bold;
}
 #grid p {
     font-family: SFCompactDisplay-Thin;
 }

 .item1{
     color: #c887fb;
 }
 
 .item4{
     color: #ffd392;
 }

 .item5{
     color: #6fb1fd;
 }
.item1, .item4, .item5{
    align-items: center;
    position: relative;
    background: #22222A;
}

.item1 h2, .item4 h2, .item5 h2{
    position: absolute;
    text-align: left;
    top: 20%;
    left: 20%;

}

.item1 p, .item4 p, .item5 p{
    text-align: left;
    position: absolute;
    top: 40%;
    left: 20%;
    width: 70%;

}

.item2, .item6, .item3{
    background: #4A4A5D;
    position: relative;
    align-items: center;
}

 .item3 p, .item3 h2{
     display: none;
 }



/*-------------------------

        PHOTOS

----------------------- */
.titlephotography{
    padding: 20px 10px;
    display: inline-flex;
    text-transform: uppercase;
}

.titlephotography h1 {
    padding-left: 10px;
    color: white;
}

.titlephotography h2{
    color: #F7515E;
}


.hide {
    -webkit-animation: fadeOut 150ms ease;
    animation: fadeOut 150ms ease;
    opacity: 0;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.hide {
    display: none;
}

#controls {
    font-family: SF-Pro-Display-light;
    background: #4A4A5D;
    color: white;
}
#controls ul {
    list-style: none;
    padding: 1rem;
    margin: 0;
    display: flex;
}
#controls ul li {
    margin: 0;
    padding: 0.5rem;
    border: 1px solid #eee;
    cursor: pointer;
}
#controls ul li:hover {
    background: #eee;
    color: #E03A3E;
}
@media (min-width: 400px) {
    #controls ul li {
        margin-right: 1rem;
        padding: 1rem;
    }
}
#controls ul .active {
    background: #444;
    color: #E03A3E;
}
#controls ul .active:hover {
    color: black;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    justify-items: center;
    background: #4A4A5D;
}

@media (min-width: 500px) {
    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1368px) {
    .grid-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
.image {
    width: 100%;
    height: 50vh;
}

@media (min-width: 500px) {
    .image {
        width: 100%;
        height: 50vw;
    }
}
@media (min-width: 768px) {
    .image {
        width: 100%;
        height: 40vw;
    }
}
@media (min-width: 1368px) {
    .image {
        width: 100%;
        height: 20vw;
    }
}
.urban-1 {
    background: url("../img/urban1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.urban-2 {
    background: url("../img/urban2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.urban-3 {
    background: url("../img/urban3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.landscape-1 {
    background: url("../img/landscape1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landscape-2 {
    background: url("../img/landscape2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.landscape-3 {
    background: url("../img/landscape3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.portrait-1 {
    background: url("../img/portrait1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portrait-2 {
    background: url("../img/portrait2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portrait-3 {
    background: url("../img/portrait3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portrait-4 {
    background: url("../img/portrait4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/*-------------------------

        ABOUT ME

----------------------- */


#aboutme, #aboutme2{
    position: relative;
    height: 100%;
    background: #22222A;
}


.block1{
    font-family: SF-Pro-Display-light;
    position: absolute;
    top: 10%;
    left: 10%;

}

.block1 h1, .block1 h2{
    font-size: 11em;
    line-height: 73%;
}

.block1 h1{
    color: white;
}

.block1 h2{
    color: #3E3E4D;
    position: absolute;
    left: 57%;
}

.abouttitle h4, .skills-service h4, .randomfacts h4{
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: SF-Pro-Display-Bold;
    position: absolute;
    color: #4A4A5D;
    left: 10%;
}

.abouttitle h4{
    top: 65%;
}

.abouttitle p{
    top: 65%;
}

.abouttitle p, .randomfacts p, .skills-service p {
    font-weight: 400;
    line-height: 2;
    font-family: SFCompactDisplay-Thin;
    width: 50%;
    color: white;
    position: absolute;
    left: 44%;

}

.skills-service p {
    word-spacing: 50px;
    top: 110%;
    z-index: 1;

}
.skills-service h4{
    top: 110%;
    z-index: 1;
}



.randomfacts h4{
    top: 40%;
}

.randomfacts p{
    top: 40%;
}

.randomfacts strong {
    background: #E03A3E;
}

.randomfacts span {
    background: #000000;
    color: #E03A3E;
    font-size: 20px;
    height: 26px;
    letter-spacing: 1px;
    line-height: 23px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
    left: 109px;
    display: none;
    width: 58%;
}

.randomfacts span:after{
    content:'';
    position:absolute;
}

.randomfacts p:hover span{
    display:block;
}
/*-------------------------

        FOOTER  

----------------------- */



footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10px;
    z-index: 21;
}

.footer-item {
    color: white;
    margin-bottom: 25px;
    text-decoration: none;
}

.footer-item img{
    height: 1.7em;
    width: auto;
}

.hvr-shutter-out-horizontal {
    left: -167%;
    top: -86%;
    width: 188px;
    transform: rotate(-90deg);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    text-transform: uppercase;
    font-family: SF-Pro-Display-light;
    font-size: 1.5em;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: absolute;
    background: transparent;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #6fb1fd;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: black;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*-------------------------

        MEDIA QUERY

----------------------- */


@media(max-width: 768px) {
    .randomfacts p:hover span{
        display: none;
    }

    .content{
        width: 100%;
        height: 45vh;
    }
    .half-1 {
        position: static;
        padding-top: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.1;
    }
    .half-2 {
        position:static;
        margin: 0 auto;
        width: 80%;
    }
    .content h2 {
        font-size: 35px;
        padding-bottom: 10px;
    }

    hr {
        position: static;
        display: block;
        height: auto;
        border: 0;
        border-top: 1px solid white;
        margin: 1em 2em;
        transform: rotate(180deg);
        width: 81%;
    }

    #grid {
        grid-template-columns: 100vw;
        grid-template-rows: 50vh 50vh 50vh 50vh 50vh 50vh;
    }

    .item3, .item5 {
        background: #22222A;
    }

    .item3 p, .item3 h2 {
        display: block;
    }

    .item3 h2  {
        position: absolute;
        text-align: left;
        top: 20%;
        left: 20%;
        color: #ffd392;
    }

    .item3 p {
        color: #ffd392;
        text-align: left;
        position: absolute;
        top: 40%;
        left: 20%;
        width: 70%;
    }

    .item4, .item6{
        background: #4A4A5D;
    }

    .item4 p, .item4 h2 {
        display: none;
    }

    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
    }

    nav #brand {
        margin-left: 18px;
    }

    #menu a {
        font-weight: 200;
        font-size: 20px;
    }

    nav #menu {
        display: none;
    }
    footer{
        height: 14%;
    }


    .hvr-shutter-out-horizontal{
        top: 42%;
        right: 25%;
    }




    @media (min-width: 768px) {
        #resize {
            visibility: hidden !important;
        }
    }
}



@media (max-width: 812px) {
    .hvr-shutter-out-horizontal{
        display: none;
    }
    #aboutme2{
        height: 87%;
    }

    .block1 h1, .block1 h2{
        font-size: 6em;
    }

  .abouttitle h4{
      top: 36%;
  }
    .skills-service h4{
        top: 94%;
    }

    .randomfacts h4{
        top: 24%;
    }

    .skills-service h3 {

        left: 10%;
        width: 80%;
    }

    .abouttitle p, .randomfacts p, .skills-service p{
        line-height: 1.6;
        font-size: 1em;
        left: 10%;
        width: 80%;
  }

    .abouttitle p{
        top: 42%;
    }
    .skills-service p{
        top: 104%;
    }

    .randomfacts p{
        top: 36%;
    }

    .titlephotography h2{
        font-size: 1.3em;
    }

}


@media (min-width: 1050px) {
    nav #menu{
        left: 67%;
    }

    nav #brand{
        margin-left: 49px;
    }
}


